<div class="row">
  <div ng-repeat="pizza in confirmed.pizzaObject.confirmedArray">
    <div class="order well col-md-4">
      <p><b>Size: </b>{{ pizza.size }}</p>
      <p><b>Toppings: </b></p>
      <ul>
        <li ng-repeat="topping in pizza.toppings track by $index">
          {{topping}}
        </li>
      </ul>
      <p><b>Cost: </b>${{ pizza.cost }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div ng-init="confirmed.setTotal(confirmed.pizzaObject)">
    <p>${{confirmed.totalCost}}</p>

  </div>
</div>
