.pizzaNav > ul > li {
  width: 100px;
  display: inline-block;
}

.order {
  height: 250px;
}

.jumbotron {
  color: white;
  text-align: center;
  background-image: url(https://www.colourbox.com/preview/2441107-old-red-bricks-wall-grunge-background.jpg);
}

.orderPage {
  text-align: center;
}

.orderPage h2 {
  font-size: 50px;
}

.form-group {
  font-size: 25px;

.navbar-btn {
  min-width: 120px;
}

a {
  color: white;
}

.toppings-list {
  list-style-type: none;
}
