<div class="container orderPage">
  <h2>Start Your Order</h2>

<div class="well">
  <form ng-submit="order.addAndClear(order)">
    <div class="form-group">
      <label for="size"> Select Your Pizza Size</label>
      <br>
      <input type="radio" name="size" value="small" ng-model="order.size"> Small $6
      <input type="radio" name="size" value="medium" ng-model="order.size"> Medium $7
      <input type="radio" name="size" value="large" ng-model="order.size"> Large $8
    </div>

  <div class="form-group">
    <label for="size">Select Your Toppings ($1 Each)</label>
    <br>
    <input type="checkbox" name="size" value="pepperoni" ng-model="order.toppings.pepperoni"> Pepperoni
    <input type="checkbox" name="size" value="sausage" ng-model="order.toppings.sausage"> Sausage
    <input type="checkbox" name="size" value="mushrooms" ng-model="order.toppings.mushrooms"> Mushrooms
    <input type="checkbox" name="size" value="onions" ng-model="order.toppings.onions"> Onions
    <input type="checkbox" name="size" value="peppers" ng-model="order.toppings.peppers"> Peppers
    <input type="checkbox" name="size" value="pineapple" ng-model="order.toppings.pineapple"> Pineapple
  </div>

  <input type="submit" class = "btn btn-primary" value="Add Pizza">
  </form>
  </div>
</div>


<!-- <p>{{order.size}}</p>
<p>{{order.toppings}}</p> -->
