<p>Order Page</p>


<form ng-click="" ng-submit="order.logPizza(order)">
  <div class="">
    <label for="size">Size</label>
    Small<input type="radio" name="size" value="small" ng-model="order.size">
    Medium<input type="radio" name="size" value="medium" ng-model="order.size">
    Large<input type="radio" name="size" value="large" ng-model="order.size">
  </div>

<div class="">
  <label for="size">Toppings</label>
  Pepperoni<input type="checkbox" name="size" value="pepperoni" ng-model="order.toppings.pepperoni">
  Sausage<input type="checkbox" name="size" value="sausage" ng-model="order.toppings.sausage">
  Mushrooms<input type="checkbox" name="size" value="mushrooms" ng-model="order.toppings.mushrooms">
  Onions<input type="checkbox" name="size" value="onions" ng-model="order.toppings.onions">
  Peppers<input type="checkbox" name="size" value="peppers" ng-model="order.toppings.peppers">
  Pineapple<input type="checkbox" name="size" value="pineapple" ng-model="order.toppings.pineapple">
</div>

<input type="submit" name="" value="Submit">

</form>

<p>{{order.size}}</p>
<p>{{order.toppings}}</p>
